<div class="container">
    <div class="contents">
        <div id="center">
            <h1> Controle de dados complemetares</h1>
        </div>

        <div class="decision">

            <div class="button">
                <div id="select">
                    <a (click)="checkOptionsDecision()">{{nameDataDecision}}</a>
                    <i class="fa fa-caret-down" (click)="checkOptionsDecision()" title="Escolher o dado"></i>
                </div>

                <div *ngIf="statusDataDecisionView">
                    <div *ngIf="statusDataDepartmentView" (click)="getselection('Departamento')" class="data-decision"><a> Departamento</a></div>
                    <div *ngIf="statusDataAreaView" (click)="getselection('Área')" class="data-decision"><a> Área</a></div>
                    <div *ngIf="statusDataResponsabilityView" (click)="getselection('Cargo')" class="data-decision"><a> Cargo</a></div>
                    <div *ngIf="statusDataCollaboratorView" (click)="getselection('Colaborador')" class="data-decision"><a> Usuário</a></div>
                    <div *ngIf="statusDataAreaResposibilitiesView" (click)="getselection('Área & Cargos')" class="data-decision"><a> Área & Cargos</a></div>
                    <div *ngIf="statusDataResposibilityPermissionsView" (click)="getselection('Cargo & Permissões')" class="data-decision"><a> Cargo & Permissões</a></div>
                </div>
            </div>
        </div>

        <div class="data-space">

            <div *ngIf="statusShowCollaborator">
                <app-collaborator></app-collaborator>
            </div>

            <div *ngIf="statusShowDepartment">
                <app-department></app-department>
            </div>

            <div *ngIf="statusShowArea">
                <app-area></app-area>
            </div>

            <div *ngIf="statusShowResponsability">
                <app-responsability></app-responsability>
            </div>

            <div *ngIf="statusShowAreaResposibilities">
                <app-relationship-area-responsibility></app-relationship-area-responsibility>
            </div>

            <div *ngIf="statusShowResposibilityPermissions">
                <app-relationship-responsibility-permission></app-relationship-responsibility-permission>
            </div>
        </div>
    </div>
</div>