.main {
    background: #00000026;
    height: 530px;
    overflow: auto;
}


/* info user start */

.main .infoUser {
    /* background: rgba(0, 0, 255, 0.527); */
    height: 150px;
    color: #fff;
}

.main .infoUser img {
    float: left;
    margin-top: 5px;
    margin-left: 5px;
}

.main .infoUser .titile {
    float: left;
    margin-left: 32%;
}

.main .infoUser .note {
    float: left;
    margin-left: 70%;
}


/* info user end */


/* info details start */

.main .infoUser .infoDetails {
    /* background: rgba(0, 0, 255, 0.337); */
    margin-top: 37px;
    height: 88px;
    margin-left: 53px;
}

.infoDetails .colaboradorName {
    /* color: yellow; */
    float: left;
    margin-left: 10px;
    width: 50%;
    text-align: initial;
}

.infoDetails .avaliadorName {
    /* color: yellow; */
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 50%;
    text-align: initial;
}

.infoDetails .testDate {
    /* color: yellow; */
    float: left;
    margin-left: 10px;
    margin-top: 5px;
    width: 50%;
    text-align: initial;
}

.infoDetails .colaboradorOcupation {
    /* color: yellow; */
    width: 48%;
    margin-left: 5px;
    margin-top: -54px;
    float: left;
    text-align: initial;
}

.infoDetails .avaliatorOcupation {
    /* color: yellow; */
    width: 48%;
    margin-left: 5px;
    margin-top: -25px;
    float: left;
    text-align: initial;
}

.infoDetails .dpto {
    /* color: yellow; */
    width: 48%;
    margin-left: 5px;
    margin-top: 4px;
    float: left;
    text-align: initial;
}


/* info details end */


/* competencias comportamentais start */

.main .behavioral {
    /* background: rgba(255, 166, 0, 0.603); */
    height: auto;
}

.box {
    width: 90%;
    margin: 50px auto;
    box-shadow: 1px 2px 4px rgba(0, 0, 0, .3);
}

.box .heading {
    background: #19b3d3;
    border-radius: 7px 7px 0px 0px;
    padding: 10px;
    color: #fff;
    text-align: center;
}

.faqs {
    padding: 0px 20px 20px;
}

::-webkit-details-marker {
    float: right;
    margin-top: 3px;
}


/* competencias comportamentais end */


/* competencias tecnicas start */

.main .skills {
    /* background: rgba(128, 0, 128, 0.514); */
    height: auto;
}

details {
    background: #f6f6f6e6;
    padding: 10px 20px;
    border-radius: 7px;
    margin-top: 20px;
    font-size: 14px;
    letter-spacing: 1px;
}

details summary {
    outline: none;
    cursor: pointer;
}

details summary:hover {
    background: #19b4d3a8;
    border-radius: 7px;
}

.text {
    padding-bottom: 10px;
}

.formCheck input {
    background: blue;
}

.formCheck label {
    padding-right: 20px;
}

.box textarea {
    width: 100%;
    height: 40px;
    resize: none;
}


/* competencias tecnicas end */


/* desafiso strat */

.main .challenges {
    /* background: rgba(255, 0, 0, 0.562); */
    height: auto;
}


/* Add desafiso end */

.main .addChallenges {
    /* background: rgba(255, 0, 0, 0.562); */
    height: auto;
}


/* Add desafiso end */

.btnSend {
    width: 10%;
    font-size: 14px;
    border: none;
    outline: none;
    padding: 5px;
    padding-left: 13px;
    box-sizing: border-box;
    font-weight: bold;
    margin-top: -2px;
    margin-bottom: 10px;
    margin-left: 81%;
    cursor: pointer;
}

.btnSend:hover {
    color: #fff;
    background: #19b3d3;
}


/* scrollbar */

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

 ::-webkit-scrollbar-thumb {
    background: #19b3d3;
}

 ::-webkit-scrollbar-thumb:hover {
    background: #0d9dbb;
}