<div class="main">
    <div class="infoUser">
        <img src="../../../assets/logoNvq.png" alt="">
        <p class="titile"><b>Avaliaçõa de Desenpenho</b></p>
        <p class="titleNote"><b>Nota da Ultima avaliação</b></p>
        <p class="note"><b>9.0</b></p>

        <div class="infoDetails">
            <p class="colaboradorName"><b>Nome: {{ colaboratorInfo[0].ColaboradorName }}</b></p>
            <p class="avaliadorName"><b>Nome: {{ userInfo.UserName }}</b></p>
            <p class="testDate"><b>Data: Avaliacao</b></p>

            <p class="colaboradorOcupation"><b>Cargo: {{ colaboratorInfo[0].ColaboradorCargo }}</b></p>
            <p class="avaliatorOcupation"><b>Cargo: {{ userInfo.UserOcupation }}</b></p>
            <p class="dpto"><b>Dpto: {{ colaboratorInfo[0].ColaboradorDpto }}</b></p>
        </div>
    </div>

    <form [formGroup]="formcolaborator" (ngSubmit)="onSubmit()">
        <div class="behavioral">

            <div class="box">
                <p class="heading">Competências comportamentais </p>

                <mat-card *ngIf="listBehavior == ''">Competências comportamentais não foram encontradas!</mat-card>

                <div class="faqs" *ngFor="let item of behaviors">

                    <details *ngIf="item.peso">
                        <summary><span>({{ item.peso * 100 }}%)</span> {{ item.behavior }}</summary>
                        <p class="text">{{ item.description }}</p>

                        <div class="formCheck">
                            <input type="radio" [value]="1" formControlName="{{item.descBehaviors}}">
                            <label>Abaixo do esperado</label>

                            <input type="radio" [value]="2" formControlName="{{item.descBehaviors}}">
                            <label>Atende parcialmente o esperado</label>

                            <input type="radio" [value]="3" formControlName="{{item.descBehaviors}}">
                            <label>Atende o esperado</label>

                            <input type="radio" [value]="4" formControlName="{{item.descBehaviors}}">
                            <label>Acima do esperado</label>
                        </div>

                        <div>
                            <textarea class="form-control" rows="3" placeholder=" Proposta de melhoria..."
                                formControlName="{{ item.obs }}"></textarea>
                        </div>

                    </details>
                </div>
            </div>

        </div>

        <div class="skills">

            <div class="box">
                <p class="heading">Competências Técnicas </p>

                <mat-card *ngIf="listTechnique == ''">Competências técnicas não foram encontradas!</mat-card>

                <div class="faqs" *ngFor="let item of techniques">
                    <details>
                        <summary><span>({{ item.peso * 100 }}%)</span> {{ item.title }}</summary>
                        <p class="text">{{ item.description }}</p>
                        <div class="formCheck">
                            <input type="radio" [value]="1" formControlName="{{ item.descTechnique }}">
                            <label>Abaixo do esperado</label>

                            <input type="radio" [value]="2" formControlName="{{ item.descTechnique }}">
                            <label>Atende parcialmente o esperado</label>

                            <input type="radio" [value]="3" formControlName="{{ item.descTechnique }}">
                            <label>Atende o esperado</label>

                            <input type="radio" [value]="4" formControlName="{{ item.descTechnique }}">
                            <label>Acima do esperado</label>
                        </div>
                        <div>
                            <textarea class="form-control" rows="3" placeholder=" Proposta de melhoria..."
                                formControlName="{{ item.obs }}"></textarea>
                        </div>
                    </details>
                </div>

            </div>


        </div>

        <div class="challenges">

            <div class="box">
                <p class="heading">Desafios</p>
                <div class="faqs" *ngFor="let item of challenges">
                    <details>
                        <summary><span>({{ item.peso }}%)</span>{{ item.title }}</summary>
                        <p class="text">{{ item.description }}</p>
                        <ng5-slider [(value)]="startChallengesNota1" [options]="challengesNota1"></ng5-slider>

                    </details>
                </div>

            </div>

        </div>

        <!-- <div class="addChallenges">

            <div class="box">
                <p class="heading">Novos Desafios</p>
                <div class="faqs">
                    <details>
                        <summary>Primeiro desafio</summary>
                        <textarea class="form-control" rows="3" placeholder=" Descreva o novo desafio..."
                            formControlName="observacao"></textarea>
                        <ng5-slider [(value)]="startNewChallengesNota1" [options]="newChallengesNota1"></ng5-slider>

                    </details>
                </div>
                <div class="faqs">
                    <details>
                        <summary>Segundo desafio</summary>
                        <textarea class="form-control" rows="3" placeholder=" Descreva o novo desafio..."
                            formControlName="observacao"></textarea>
                        <ng5-slider [(value)]="startNewChallengesNota2" [options]="newChallengesNota2"></ng5-slider>

                    </details>
                </div>
                <div class="faqs">
                    <details>
                        <summary>Terceiro desafio</summary>
                        <textarea class="form-control" rows="3" placeholder=" Descreva o novo desafio..."
                            formControlName="observacao"></textarea>
                        <ng5-slider [(value)]="startNewChallengesNota3" [options]="newChallengesNota3"></ng5-slider>

                    </details>
                </div>
            </div>

        </div> -->

        <input class="btnSend" type="submit">
    </form>
</div>