<input type="checkbox" id="check" (click)="(showName())">

<!-- header area start -->
<header>
    <label for="check">
        <i class="fa fa-bars" id="sidebar_btn"></i>
    </label>

    <div class="left-area">
        <h3><span>RH</span> - Avaliação</h3>
    </div>
    <div class="right-area">
        <a (click)="exit()" class="logout_btn">Sair</a>
    </div>
</header>
<!-- header area end -->

<!-- sidebar start -->
<div class="sidebar">
    <div id="center">
        <img src="../../../assets/user.png" class="profile_image" alt="">
        <h4 *ngIf="showNameUser">{{ userInfo.UserName }}</h4>
    </div>
    <a *ngIf="userInfo.UserPermission == 1" (click)="dashboardOpen()"><i class="fa fa-desktop"></i><span>Dashboard</span></a>
    <a *ngIf="userInfo.UserPermission == 1"  (click)="colaboratorOpen()"><i class="fa fa-users"></i><span>Colaboradores</span></a>
    <a *ngIf="userInfo.UserPermission == 1"  (click)="dptoOpen()"><i class="fa fa-briefcase"></i><span>Dptos</span></a>
    <a (click)="evaluationOpen()"><i class="fa fa-pencil-square-o"></i><span>Avaliação</span></a>
</div>
<!-- sidebar end -->

<div *ngIf="statusDashboard == true" class="content">
    <div class="dashboard">
        <h1>Dashboard</h1>

        

    </div>
</div>

<div *ngIf="statusColaborator == true" class="content">
    <div class="dashboard">
        <app-edit-colaborator></app-edit-colaborator>
    </div>
</div>

<div *ngIf="statusDptos == true" class="content">
    <div class="dashboard">
        <app-edit-dpto></app-edit-dpto>
    </div>
</div>

<div *ngIf="statusEvaluation == true" class="content">
    <div class="dashboard">
        <app-forms-options></app-forms-options>
    </div>
</div>