<div class="container">
    <div class="contents">
        <div id="center">
            <h1> Controlar os dados avaliativos</h1>
        </div>

        <div class="decision">

            <div class="button">
                <div id="select">
                    <a (click)="checkOptionsDecision()">{{nameDataDecision}}</a>
                    <i class="fa fa-caret-down" (click)="checkOptionsDecision()" title="Escolher o dado"></i>
                </div>

                <div *ngIf="statusDataDecisionView">
                    <div *ngIf="statusDataNoteView" (click)="getselection('Notas')" class="data-decision"><a> Notas</a></div>
                </div>
                <div *ngIf="statusDataDecisionView">
                    <div *ngIf="statusDataQuestionDepartmentView" (click)="getselection('Dapartamento & Questões')" class="data-decision"><a> Dapartamento & Questões</a></div>
                </div>
            </div>
        </div>

        <div class="data-space">
            <div *ngIf="statusShowNote">
                <app-note></app-note>
            </div>
        </div>

        <div class="data-space">
            <div *ngIf="statusShowQuestionDepartment">
                <app-question-department></app-question-department>
            </div>
        </div>
    </div>
</div>